__pycache__/
env/
.env
.vscode/
*.log
.idea/


                                                                                                                                                                        davinchi%